In [123]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

airlines = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/data/airlines.csv')
country = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/data/country.csv')
covid = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/data/covid.csv')
lfd = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/data/load_factor_data.csv')
seats = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/data/seats.csv')
submission = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/data/submission.csv')
validation = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/data/validation.csv')
aircon = pd.read_csv('C:/Users/Oscar/OneDrive/Documents/GitHub/hack23/airline_country.csv')

# print(airlines)
# print(country)
# print(covid)
# print(lfd)
# print(seats)
# print(submission)
# print(validation)

Plot stringency and load factor time series.

In [124]:
# seats['type'] = 

# create a dictionary mapping iata codes to iso codes
type = dict(zip(airlines['airline_code_iata'], airlines['airline_type']))

# create a new column 'fullname' in the seats dataframe, with values from the iata_to_iso dictionary
seats['type'] = seats['operating_airline'].map(type)
print(seats)

       operating_airline departure_country_iata arrival_country_iata  \
0                     8E                     US                   US
1                     AA                     US                   US
2                     BB                     VI                   VI
3                     NH                     JP                   JP
4                     NX                     CN                   MO
...                  ...                    ...                  ...
604824                QR                     ZA                   KE
604825                EY                     ZA                   KE
604826                OU                     DK                   HR
604827                KQ                     MZ                   KE
604828                KQ                     ZM                   KE

        seats_year  seats_month  total_seats      type
0             2017           10         3130  Regional
1             2021           12     17677677  Mainline
2             2020            3         2295  Regional
3             2020            8      3146684  Mainline
4             2022            2        58849  Mainline
...            ...          ...          ...       ...
604824        2020           10            0  Mainline
604825        2021            6            0  Mainline
604826        2020            3         1600  Mainline
604827        2021            6          672  Mainline
604828        2017            5         1015  Mainline

[604829 rows x 7 columns]

In [125]:
seats['date'] = seats.apply(lambda x: pd.to_datetime(str(x['seats_year']) + '-' + str(x['seats_month'])), 
                   axis=1).dt.strftime('%Y-%m')
print(seats)

       operating_airline departure_country_iata arrival_country_iata  \
0                     8E                     US                   US
1                     AA                     US                   US
2                     BB                     VI                   VI
3                     NH                     JP                   JP
4                     NX                     CN                   MO
...                  ...                    ...                  ...
604824                QR                     ZA                   KE
604825                EY                     ZA                   KE
604826                OU                     DK                   HR
604827                KQ                     MZ                   KE
604828                KQ                     ZM                   KE

        seats_year  seats_month  total_seats      type     date
0             2017           10         3130  Regional  2017-10
1             2021           12     17677677  Mainline  2021-12
2             2020            3         2295  Regional  2020-03
3             2020            8      3146684  Mainline  2020-08
4             2022            2        58849  Mainline  2022-02
...            ...          ...          ...       ...      ...
604824        2020           10            0  Mainline  2020-10
604825        2021            6            0  Mainline  2021-06
604826        2020            3         1600  Mainline  2020-03
604827        2021            6          672  Mainline  2021-06
604828        2017            5         1015  Mainline  2017-05

[604829 rows x 8 columns]

In [131]:
group_seats = seats.groupby('operating_airline').apply(lambda x: x.sort_values('date', ascending=True))
group_seats

                         operating_airline departure_country_iata  \
operating_airline
2I                360336                2I                     PE
                  199328                2I                     PE
                  496291                2I                     PE
                  92266                 2I                     PE
                  520569                2I                     PE
...                                    ...                    ...
ZW                364195                ZW                     US
                  510005                ZW                     US
                  128520                ZW                     US
                  18557                 ZW                     US
                  462463                ZW                     US

                         arrival_country_iata  seats_year  seats_month  \
operating_airline
2I                360336                   PE        2018            6
                  199328                   PE        2018            7
                  496291                   PE        2018            9
                  92266                    PE        2018           10
                  520569                   PE        2018           11
...                                       ...         ...          ...
ZW                364195                   US        2022           10
                  510005                   CA        2022           11
                  128520                   US        2022           11
                  18557                    CA        2022           12
                  462463                   US        2022           12

                          total_seats      type     date
operating_airline
2I                360336        10842     Cargo  2018-06
                  199328         2363     Cargo  2018-07
                  496291          147     Cargo  2018-09
                  92266           278     Cargo  2018-10
                  520569         2641     Cargo  2018-11
...                               ...       ...      ...
ZW                364195          400  Regional  2022-10
                  510005           50  Regional  2022-11
                  128520          850  Regional  2022-11
                  18557           100  Regional  2022-12
                  462463         1450  Regional  2022-12

[604829 rows x 8 columns]

In [132]:
group_seats.to_csv('timeseries_seats.csv')

In [127]:
lfd['continuous'] = lfd.groupby('organization_code_iata')['period_start_date'].rank(method='dense', ascending=True).astype(int)
lfd

,organization_code_iata,organization_code_icao,period_start_date,period_end_date,accounting_period,passenger_load_factor_pct,continuous
0,EI,EIN,2020-07-01,2020-07-31,Month 7,24.696155,42
1,EI,EIN,2020-08-01,2020-08-31,Month 8,29.712449,43
2,EI,EIN,2020-09-01,2020-09-30,Month 9,25.965699,44
3,EI,EIN,2020-10-01,2020-10-31,Month 10,17.795881,45
4,EI,EIN,2020-11-01,2020-11-30,Month 11,15.954516,46
...,...,...,...,...,...,...,...
10263,I8,IZA,2021-10-01,2021-10-31,Month 10,72.100000,25
10264,WZ,RWZ,2021-10-01,2021-10-31,Month 10,80.900000,53
10265,FV,SDM,2021-10-01,2021-10-31,Month 10,84.600000,57
10266,7R,RLU,2021-10-01,2021-10-31,Month 10,73.400000,28
10267,S7,SBI,2021-10-01,2021-10-31,Month 10,88.300000,57

In [128]:
grouped = lfd.groupby('organization_code_iata').apply(lambda x: x.sort_values('continuous', ascending=True))
grouped

# ank(method='dense', ascending=True)

#Merging load_factor_data and airlines
# merged = lfd.merge(airlines, left_on="organization_code_iata", right_on="airline_code_iata")
# merged = merged.drop(['organization_code_icao','airline_code_iata','period_end_date','accounting_period'],axis=1)
# merged['time_period'] = merged.groupby('organization_code_iata')['period_start_date'].rank(method='dense', ascending=True).astype(int)
# plt.figure(figsize=(20,10))
# sns.lineplot(x='time_period', y='passenger_load_factor_pct', hue='organization_code_iata', data=merged)
# plt.show()

                            organization_code_iata organization_code_icao  \
organization_code_iata
2I                     8680                     2I                    SRU
                       8681                     2I                    SRU
                       8682                     2I                    SRU
                       8683                     2I                    SRU
                       8684                     2I                    SRU
...                                            ...                    ...
ZW                     1480                     ZW                    AWI
                       1481                     ZW                    AWI
                       1893                     ZW                    AWI
                       1912                     ZW                    AWI
                       1925                     ZW                    AWI

                            period_start_date period_end_date  \
organization_code_iata
2I                     8680        2017-02-01      2017-02-28
                       8681        2017-03-01      2017-03-31
                       8682        2017-04-01      2017-04-30
                       8683        2017-05-01      2017-05-31
                       8684        2017-06-01      2017-06-30
...                                       ...             ...
ZW                     1480        2021-05-01      2021-05-31
                       1481        2021-06-01      2021-06-30
                       1893        2021-07-01      2021-07-31
                       1912        2021-08-01      2021-08-31
                       1925        2021-09-01      2021-09-30

                            accounting_period  passenger_load_factor_pct  \
organization_code_iata
2I                     8680           Month 2                   0.000000
                       8681           Month 3                   0.000000
                       8682           Month 4                   0.000000
                       8683           Month 5                   0.000000
                       8684           Month 6                   0.000000
...                                       ...                        ...
ZW                     1480           Month 5                  82.203939
                       1481           Month 6                  82.998898
                       1893           Month 7                  85.040905
                       1912           Month 8                  83.057336
                       1925           Month 9                  81.040708

                             continuous
organization_code_iata
2I                     8680           1
                       8681           2
                       8682           3
                       8683           4
                       8684           5
...                                 ...
ZW                     1480          52
                       1481          53
                       1893          54
                       1912          55
                       1925          56

[10268 rows x 7 columns]

In [136]:
# Add airline type

# create a dictionary mapping iata codes to iso codes
type = dict(zip(airlines['airline_code_iata'], airlines['airline_type']))

# create a new column 'fullname' in the seats dataframe, with values from the iata_to_iso dictionary
grouped['type'] = grouped['organization_code_iata'].map(type)
grouped

                            organization_code_iata organization_code_icao  \
organization_code_iata
2I                     8680                     2I                    SRU
                       8681                     2I                    SRU
                       8682                     2I                    SRU
                       8683                     2I                    SRU
                       8684                     2I                    SRU
...                                            ...                    ...
ZW                     1480                     ZW                    AWI
                       1481                     ZW                    AWI
                       1893                     ZW                    AWI
                       1912                     ZW                    AWI
                       1925                     ZW                    AWI

                            period_start_date period_end_date  \
organization_code_iata
2I                     8680        2017-02-01      2017-02-28
                       8681        2017-03-01      2017-03-31
                       8682        2017-04-01      2017-04-30
                       8683        2017-05-01      2017-05-31
                       8684        2017-06-01      2017-06-30
...                                       ...             ...
ZW                     1480        2021-05-01      2021-05-31
                       1481        2021-06-01      2021-06-30
                       1893        2021-07-01      2021-07-31
                       1912        2021-08-01      2021-08-31
                       1925        2021-09-01      2021-09-30

                            accounting_period  passenger_load_factor_pct  \
organization_code_iata
2I                     8680           Month 2                   0.000000
                       8681           Month 3                   0.000000
                       8682           Month 4                   0.000000
                       8683           Month 5                   0.000000
                       8684           Month 6                   0.000000
...                                       ...                        ...
ZW                     1480           Month 5                  82.203939
                       1481           Month 6                  82.998898
                       1893           Month 7                  85.040905
                       1912           Month 8                  83.057336
                       1925           Month 9                  81.040708

                             continuous      type
organization_code_iata
2I                     8680           1     Cargo
                       8681           2     Cargo
                       8682           3     Cargo
                       8683           4     Cargo
                       8684           5     Cargo
...                                 ...       ...
ZW                     1480          52  Regional
                       1481          53  Regional
                       1893          54  Regional
                       1912          55  Regional
                       1925          56  Regional

[10268 rows x 8 columns]

In [137]:
grouped.to_csv('timeseries_loadfactor.csv')